{% extends "base.html" %}

{% block content %}

<h2>Шаблон протокола питания</h2>

<form method="post">
    {% csrf_token %}

    <div class="form-row">
        <label>Название:</label>
        {{ form.title }}
    </div>

    <div class="form-row">
        <label>Описание:</label>
        {{ form.subtitle }}
    </div>

    <div class="form-row">
        <label>Комментарий:</label>
        {{ form.comment }}
    </div>

    <div class="form-row">
        <label>Протокол:</label>
        {{ form.text }}
    </div>

<div class="actions">
      <button type="submit" class="btn btn-primary">Сохранить</button>
      <a href="{% url 'handbook'%}" class="btn btn-secondary">Отмена</a>
</div>
</form>

{% endblock %}
