{% extends 'base.html' %}
{% load static %}
{% block title %}Приём пациента{% endblock %}

{% block content %}
  <h1>Приём пациента</h1>



  <form method="post">
    {% csrf_token %}

<div class="cards">
<label id="drop-zone">
JavaScript отключён. Функция загрузки файла консультации недоступна.
</label>
{% include "report_edit/patient.html"  %}
{% include "report_edit/complaints_anamnesis.html"  %}
{% include "report_edit/diet.html"  %}
{% include "report_edit/heredity.html"  %}
{% include "report_edit/allergies.html"  %}
{% include "report_edit/insp.html"  %}
{% include "report_edit/lifestyle.html"  %}
</div>
<div class="actions">
      <button type="submit" class="btn btn-primary">Сохранить</button>
      {% if patient %}
      <a href="{% url 'patient_detail' patient.pk %}" class="btn btn-secondary">Отмена</a>
      {% else %}
      <a href="{% url 'dashboard'%}" class="btn btn-secondary">Отмена</a>
      {% endif %}
    </div>
  </form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'form/js/features/llm_prefill_report.js' %}"></script>
{% endblock %}
